firstWebSite/settings.py
.idea/
firstWebSite/__pycache__/
webapp/__pycache__/
webapp/migrations/__pycache__/
.idea/
personal/__pycache__/
db.sqlite3
blog/__pycache__/
blog/migrations/__pycache__/
personal/__pycache__/
.idea/workspace.xml
